{% extends "base.html" %}
{# stops_times.html #}
{% block title %} {{ the_title}}{% endblock %}


{% block html_head %}
  <style type="text/css">
    .important {
      color: #336699;

  </style>

{% endblock %}

{% block content %}
{% autoescape false %}
<h1>{{the_title | safe}}</h1>
{% for trip_id, table in tables.items() %}
     <h2>Trip ID: {{ trip_id | safe }}</h2>
    {{ table | safe }}
    <hr>
{% endfor %}
{% endautoescape %}
{% endblock %}

    <a href='https://gtfs.org/schedule/reference/#stop_timestxt'>Columns Explained</a>
    </body>
    </html>